* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 90%;
    height: auto;
}

a {
    color: #827717;
}

a:hover,
button:hover {
    color: #3e2723;
    margin: 10px;

}

/* Header */
header {
    padding: 1.20rem;
}


.cursive {
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
}

h1 {
    font-size: 2rem;
    margin: auto;
    padding: 1.2rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

button {
    margin: 10px;
    width: 155px;
}

.button-tag {
    margin-bottom: 10px;
}

.status-tag {
    padding: 20px;
    font-size: 1.2rem;
}

/* Main */


.flash {
    font-size: 1.3rem;
}

.stories-types {
    font-size: 1.8rem;
}

textarea {
    height: 20rem !important;
}

input {
    font-size: 5rem;
}

/* Footer */
.page-footer {
    width: 100%;
    bottom: 0;
}

.copyright {
    padding-bottom: 1.9rem;
}

.copyright > p {
    font-size: 1.5rem;
}

.post-card {
    width: 100%;
    padding: 1rem;
}

.writing {
    font-size: 1.2rem;
}

.post-container {
    padding-top: 1.4rem;
    width: 100%;
} 

/* Error 404 */
.error-title {
    font-size: 2.6rem;
}

.error-content {
    font-size: 1.7rem;
}

/* Registration */
.reg-icon {
    padding-right: 0.625px;
}


/* Profile */
.profile-img {
    max-width: 45%;
    height: auto;
    margin: 3.5rem auto 2rem; 
}

.profile-card {
    margin-top: 3rem;
    font-family: Pacifico;
}

.profile-name {
    font-size: 1.8rem;
}
.no-story {
    padding: 2rem 0;
}

.no-story-container {
    padding: 4rem;
}

.col-head-title {
    font-size: 1.5rem;
}

.collapsible-header {
    padding-left: 2rem;
    font-weight: 600;
}


/* User Page - Administration View */
.user-card {
    padding: 2rem 3rem 2.5rem;
}

.user-tags {
    font-weight: 600;
    padding-right: 2rem;
}

