* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

a:hover {
    color: #ff7043;
}

/* Header */
header {
    padding: 20px;
}

.logo-img {
    height: 4.1rem;
    width: 5.2rem;
}

.header-logo {
    display: inline-flex;
}

.cursive {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

h1 {
    font-size: 2rem;
    margin: auto;
}

/* Main */


h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Footer */
.page-footer {

    width: 100%;
    bottom: 0;
}
.footer-icon {
    color: #5d4037;
    padding: 10px;
}

.footer-icon:hover {
    color: #ff7043;
}

.copyright {
    padding-bottom: 30px;
}

.post-card {
    padding: 15px;
}

.writing {
    font-size: 1rem;
}

.card-writing {
    text-align: center;
}

.post-container {
    padding-top: 2rem;
}

/* Error 404 */

.error-title {
    font-size: 2.6rem;
}

.error-content {
    font-size: 1.7rem;
}

.reg-icon {
    padding-right: 10px;
}

.profile-img {
    max-width: 50%;
    height: auto;
    margin: 4rem auto; 
}

.profile-name {
    margin-top: 3rem;
    font-family: Pacifico;
}