* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 90%;
}

a {
    color: #827717;
}

a:hover {
    color: #ff7043;
}

/* Header */
header {
    padding: 1.25rem;
}

.logo-img {
    height: 4.1rem;
    width: 5.2rem;
}

.header-logo {
    display: inline-flex;
}

.cursive {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

h1 {
    font-size: 2rem;
    margin: auto;
}

.status-tag {
    padding: 20px;
    font-size: 1.2rem;
}

/* Main */
h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.flash {
    font-size: 1.3rem;
}

/* Footer */
.page-footer {
    width: 100%;
    bottom: 0;
}

.copyright {
    padding-bottom: 1.9rem;
}

.copyright > p {
    font-size: 1.5rem;
}

.post-card {
    width: 100%;
    padding: 5rem;
}

.writing {
    font-size: 1.2rem;
}

.post-container {
    padding-top: 2rem;
} 

/* Error 404 */

.error-title {
    font-size: 2.6rem;
}

.error-content {
    font-size: 1.7rem;
}

.reg-icon {
    padding-right: 0.625px;
}

.profile-img {
    max-width: 50%;
    height: auto;
    margin: 3rem auto; 
}

.profile-name {
    margin-top: 3rem;
    font-family: Pacifico;
}

.no-story {
    padding: 2rem 0;
}

.col-head-title {
    font-size: 1.5rem;
}

.collapsible-header {
    padding-left: 2rem;
    font-weight: 600;
}
.click-it {
    padding-left: 280px;
}

textarea {
    height: 20rem !important;
}

input {
    font-size: 5rem;
}
.user-card {
    padding: 2rem 3rem 2.5rem;
}

.user-tags {
    font-weight: 600;
    padding-right: 2rem;
}

.submitBtn {
    background-color: #827717 !important;
}