{% extends 'base.html' %}
{% block content %} 

    <div class="row">
        <div class="col s12 m10 offset-m1 l6">
            <img src="{{ url_for('static', filename='book.jpg') }}" alt="image of an open book" class="main-img responsive-img">
        </div>
        <div class="col s12 m10 offset-m1 l6">
            <div class="text-box">
                <h2>Poetry in Motion</h2>
                <p>Tell a tale, tell of glory, tell some lies, tell a story! 
                    Poetry has been around for thousands of year. In the written world, it is the ultimate freedom of expression. 
                    It is the sharing of ideas and emotions. It is food for the imagination. 
                    Come take a journey into the written world with us.
                </p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Haiku</span>
                        <p>A haiku is a three-line stanzas with a 5/7/5 syllable count. 
                            This form of poetry also focuses on the beauty and simplicity found in nature.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Villanelle</span>
                        <p>A nineteen-line poem consisting of five tercets and a quatrain, using an exception given internal rhyme scheme.
                            It is used to describe obsesions and other extreme topic issues.
                        </p>                   
                     </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Free Verse</span>
                        <p>A deliberately irregular style of writing poetry, taking on an improvisational bent. 
                            There is no pattern or formula. The writer and reader must work together to set the speed, 
                            intonation and emotional pull.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Cinquain</span>
                        <p>A five-line poem inspired by Japanese haiku. 
                            There many different variations, including American, didactic, reverse, butterfly and crown.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Epic</span>
                        <p>A long and narrative poem that normally tells a story about a hero or an adventure. 
                            The Iliad and the Odyssey are probably the most renowned epic poems.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Ballad</span>
                        <p>A ballad poem tells a story based on a legend or a folk tale. These poems may tale the form of a song,
                            and they may contain a moral or a lesson. 
                        </p>                   
                     </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Sonnet</span>
                        <p>A sonnet is a 14-line poem written in iambic pentameter, 
                            typically (although not exclusively) about the subject of love.
                            Sonnets contain inner workings in their 14 lines,
                             the specific rhyme scheme depends on the design of the sonnet. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Acrostic</span>
                        <p>Also known as the name poem, these spell out names or words with the first letter in each line.
                            While the author is doing this, they are decribing someone or something they deem important.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Limerick</span>
                        <p>Humorous poems! A limerick contains 2 longer lines, two brief ones, along with a final longer line which makes a joke,
                            frequently ribald one - AABBA, and uses the anapestic meter, with three toes at the more lines and 2 at the briefer.
                        </p>                   
                     </div>
                </div>
            </div>
        </div>
    
</div>


{% endblock %}