{% extends 'base.html' %}
{% block content %} 

    <div class="row">
        <div class="col s12 m10 offset-m1 l6">
            <img src="{{ url_for('static', filename='book.jpg') }}" alt="image of an open book" class="main-img responsive-img">
        </div>
        <div class="col s12 m10 offset-m1 l6">
            <div class="text-box">
                <h2>Poetry in Motion</h2>
                <p>Tell a tale, tell of glory, tell some lies, tell a story! 
                    Poetry has been around for thousands of year. In the written world, it is the ultimate freedom of expression. 
                    It is the sharing of ideas and emotions. It is food for the imagination. 
                    Come take a journey into the written world with us.
                </p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col l4 s12 m10 offset-m1">
                <div class="card brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Freeverse</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Commodi dolorem vitae voluptatem consequatur repudiandae illo, 
                            voluptatum officia laboriosam cumque ea odio error dolorum id iusto deserunt placeat quidem! 
                            Illo tempora ratione iusto quo voluptas voluptatem unde, quis eaque veniam nisi.
                        </p>
                    </div>
                
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Epic</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Commodi dolorem vitae voluptatem consequatur repudiandae illo, 
                            voluptatum officia laboriosam cumque ea odio error dolorum id iusto deserunt placeat quidem! 
                            Illo tempora ratione iusto quo voluptas voluptatem unde, quis eaque veniam nisi.
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card brown lighten-5 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">A Haiku</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Commodi dolorem vitae voluptatem consequatur repudiandae illo, 
                            voluptatum officia laboriosam cumque ea odio error dolorum id iusto deserunt placeat quidem! 
                            Illo tempora ratione iusto quo voluptas voluptatem unde, quis eaque veniam nisi.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            
           
        </div>
    
</div>


{% endblock %}