{% extends 'base.html' %}
{% block content %} 

    <div class="row">
        <div class="col s12 m10 offset-m1 l6">
            <img src="{{ url_for('static', filename='book.jpg') }}" alt="image of an open book" class="main-img responsive-img">
        </div>
        <div class="col s12 m10 offset-m1 l6">
            <div class="text-box">
                <h2>Write short, write sharp</h2>
                <p>Tell a tale, tell of glory, tell some lies, tell a story!</p>
                <blockquote>"Short stories are tiny windows into other worlds and other minds and other dreams.
                    They are jouneys you can make to the farside of the universe and still be back in time for dinner." - Neil Gaiman</blockquote>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-4 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Anecdote</span>
                        <p>An anecdote is a brief and revealing account of something interesting and amusing, 
                            which usually tells a story about a real person and/or incident.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-3 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Drabble</span>
                        <p>A drabble is a short work of fiction precisely one hundred words in length. 
                            The purpose of the drabble is brevity, testing the author's ability to express interesting
                            and meaningful ideas in a confined space.
                        </p>                   
                     </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-4 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Fable</span>
                        <p>A fable is a succinct story, in proose or verse, featuring anthropomorphic creatures to tell a story with a moral.
                            Often the moral is explicitly told at the end of the story.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-3 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Feghoot</span>
                        <p>A humorous short story or vignette endng in a pun, where the story contains sufficient context to recognize the punning humor.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-4 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Flash Fiction</span>
                        <p>Very brief fictional piece of literature that still offers character and plot development. 
                            Possesses a unique literary quality in its ability to hint at or imply a larger story.
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-3 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Frame Story</span>
                        <p>Also know as a frame tale or a nested narrative. It is a literary technique of placing a story within a story,
                            for the purpose of introducing or setting the stage for a main narrative or series of short stories.
                        </p>                   
                     </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-4 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Story Sequence</span>
                        <p>Also called a short story cycle or a composite novel, this is a group of stort stories that work together to form a longer piece,
                            while still functioning as complete short stories on their own.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-3 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Sketch Story</span>
                        <p>A shorter than average piece containing little or no plot. It can be merely a description of a character or a location. 
                        </p>                   
                     </div>
                    
                </div>
            </div>
            <div class="col l4 s12 m10 offset-m1">
                <div class="card small brown lighten-4 z-depth-5">
                    <div class="card-content black-text">
                        <span class="card-title">Vignette</span>
                        <p>A short, impressionistic piece that focuses on a single scene, character, idea, setting, or object. 
                            There is little emphasis on adhering to conventional theatrical or literacy structure, or story development.
                        </p>                   
                     </div>
                </div>
            </div>
        </div>
    
</div>


{% endblock %}