{% extends 'base.html' %}
{% block content %}
    <h3 class="center-align">Register Here!</h3>
    <div class="row register">
        <form class="col s12" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel register-card z-depth-4">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input type="text" class="validate" name="username" id="username" 
                            minlength="6" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="first_name" class="validate" name="first_name" type="text"
                            minlength="3" maxlength="10" required>
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="last_name" name="last_name" class="validate" type="text"
                            minlength="3" maxlength="15" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="password" name="password" class="validate" type="password"
                        minlength="8" maxlength="15" pattern="^[a-zA-Z0-9]{8-15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s10 offset-s1 btn-large brown lighten-1 black-text">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align mini-text">
                Already a registered user? <a href="{{ url_for('login') }}" class="deep-orange-text text-lighten-1"> Log In</a>
            </p>
        </div>
    </div>


{% endblock %}
